 
 .carousel.carousel-slider .control-arrow:hover {
    background: transparent !important;
    color: white;
   
}

.slide > div > img {
    background: white!important;
   
   
}


.carousel .control-dots .dot {
    transition: opacity .25s ease-in;
    opacity: .3;
    filter: alpha(opacity=30);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 90%);
    background: #fde804 !important;
    border-radius: 50%;
    width:  1rem !important;
    height: 1rem!important;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.8rem;
}

.carousel .carousel-status {
    display: none !important;
}