.linhaSutitulo{
    color: #333 !important;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
 
.colunalinhaMenu {
    padding-top: 3rem;
    height: 18rem;
}

.linhaMenu  {
    margin-bottom: 1.7rem;
    padding-left: 1.5rem;
    cursor: pointer;
    
  }
.linhaMenu:hover {
   background-color: rgb(69, 214, 233);
   color: white;
   border-radius: 2px;
  }

  .SecondDropdownListColuna{
    width: 25rem;
    height: 10rem;
  }

  .linhaSecondDropdown{
    margin-bottom: 1rem;
  }

  .linhaGameSecondDropdown{
    margin-bottom: 0.5rem;
  }
  .TituloContainer{
  display: flex;
  justify-content: center;
  }

 .TituloSecondDropdown{
height: 4.8rem;
  }
  .ConteinerSecondDropDown{
    display: flex;
  }
  .TituloBarraSecondDropdown{
    height: 0.1rem;
    position: relative;
    top: -1.2rem;
    left: -1.3rem;
    
    background: #33333369;
  }

  .ButtonHanderArrowWhite{
    height: 1rem;
 
    transform: rotate(-90deg);
 
    margin-left: 0.5rem;
}
 
.ButtonHanderDropDwonArrowWhite{
  height: 1rem;

  transform: rotate(180deg);

  margin-right: 2rem;
}

.rowDropDown{
  display: flex;
  justify-content: space-between;
  align-items: center;
}